body {    
font-family: Arial, sans-serif;  
 display: flex;    
justify-content: center;  
align-items: center;   
height: 100vh;  
background-color: #7c10ae;   
 margin: 0; }
.container {     
  background: rgb(30, 24, 10);    
 padding: 20px;   
border-radius: 10px;   
box-shadow: 0px 0px 10px rgba(3, 95, 157, 0.1);  
 text-align: center;     width: 350px;
} h2 {   
margin-bottom: 15px;  
color: #8e7ec9; } 
           input {     
   width: 90%;padding: 10px;   
   margin: 10px 0;   
  border: 1px solid #ddd;     
  border-radius: 5px;
} 
  button {     
  width: 100%;  
  padding: 10px;   
 margin: 10px 0;   
 border: none;  
 border-radius: 5px;   
cursor: pointer;    
font-size: 16px; }
  button:nth-child(3) {   
  background-color: #ff6200; 
 color: white; }
  button:nth-child(4) {    
  background-color: #670a49;  
    color: white; 
   } 
   button:nth-child(5)
    {     
      background-color: #DB4437;    
       color: white; } 
       .logout {   
          background-color: #dc3545;    
           color: white; }
           
         
  #message {   
     margin-top: 10px;  
     color: rgb(13, 86, 99);   
     font-weight: bold;
   }
   button:nth-child(3):hover {   
    background-color: #70be82; 
   color: white; }
    button:nth-child(4):hover {    
    background-color: #ad5691;  
      color: white; 
     }
     button:nth-child(5):hover
     {     
       background-color: #460854;    
        color: white; } 
        .logout {   
           background-color: #dc3545;    
            color: white; }
            
@media (max-width: 400px)
                     {     
                      .container
                       {        
                         width: 90%;  
                         } } 
                                                                     
